////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  Repo:           hashistack-kubernetes
//  File Name:      kubernetes/azure/aks/terraform.tfvars
//  Author:         Patrick Gryzan
//  Company:        Hashicorp
//  Date:           September 2021
//  Description:    This is the overriding sensitive variables file for the terraform project
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Global Workspace Information
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
global                  = {
    organization        = ""
    workspace           = "hashistack-global"
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Cluster Information
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
cluster                 = {
    name                = "central"
    region              = "North Central US"
    node_count          = 3
    machine_type        = "Standard_D4_v3"
    primary             = false
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Consul
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
consul                  = {
    federated_workspace = "hashistack-gke-east"
    replicas            = 3
    version             = "1.10.2"
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Vault
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
vault                  = {
    replicas            = 3
    version             = "1.8.2"
}