////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  Repo:           hashistack
//  File Name:      tfc/kubernetes/google/terraform.tfvars
//  Author:         Patrick Gryzan
//  Company:        Hashicorp
//  Date:           September 2021
//  Description:    This is the overriding sensitive variables file for the terraform project
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Global Workspace Information
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
global                  = {
    organization        = ""
    workspace           = "hashistack-global"
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Cluster Information
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
cluster                 = {
    name                = "east"
    region              = "us-east1"
    zone                = "us-east1-b"
    node_count          = 3
    machine_type        = "n2-standard-4"
    primary             = true
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Consul
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
consul                  = {
    federated_workspace = "gke-server-east"
    replicas            = 3
    version             = "1.10.2"
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Vault
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
vault                  = {
    replicas            = 3
    version             = "1.8.2"
}