////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  Repo:           hashistack
//  File Name:      kubernetes/aws/eks/terraform.tfvars
//  Author:         Patrick Gryzan
//  Company:        Hashicorp
//  Date:           September 2021
//  Description:    This is the overriding sensitive variables file for the terraform project
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Global Workspace Information
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
global                  = {
    organization        = ""
    workspace           = "hashistack-global"
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Cluster Information
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
cluster                 = {
    name                = "west"
    region              = "us-west-2"
    primary             = false
}

worker_groups           = {
    primary             = {
        name            = "primary"
        node_count      = 1
        machine_type    = "t2.xlarge"
    }
    secondary           = {
        name            = "secondary"
        node_count      = 2
        machine_type    = "t2.xlarge"
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Consul
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
consul                  = {
    federated_workspace = "hashistack-gke-east"
    replicas            = 3
    version             = "1.10.2"
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Vault
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
vault                  = {
    replicas            = 3
    version             = "1.8.2"
}

// doormat --refresh
// account=$(doormat aws --list | grep arn | awk -F':' '{print $5}')
// doormat aws --account ${account} --tf-push --tf-hostname app.terraform.io --tf-organization pgryzan --tf-workspace hashistack-eks-west

// Local Terminal - eval $(doormat aws --account ${account}) > /dev/null
// Environment Varaibles - env | grep AWS
// Open AWS Console - doormat aws --console --account ${account}