////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  Repo:           hashistack
//  File Name:      tfc/credentials/terraform.tfvars
//  Author:         Patrick Gryzan
//  Company:        Hashicorp
//  Date:           September 2021
//  Description:    This is the overriding sensitive variables file for the terraform project
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  AWS Credentials
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
aws                     = {
    region              = ""
    access_key          = ""
    secret_key          = ""
    token               = ""
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Azure Credentials
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
azure                   = {
    subscription_id     = ""
    tenant_id           = ""
    client_id           = ""
    client_secret       = ""
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  GCP Credentials
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
gcp                     = {
    credentials         = <<EOF
EOF
    project             = ""
    account_id          = ""
    region              = ""
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Consul
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
consul                  = {
    license             = ""
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Vault
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
vault                   = {
    license             = ""
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Nomad
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
nomad                   = {
    license             = ""
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Global Project Information
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
info                    = {
    name                = ""
    organization        = ""
}